*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .6s;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}
.container{
    background-color: rgb(68, 89, 99);
    width: 30em;
    height: 35em;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 0 1em .3em white;
    border-radius: .5em;
}
.details{
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    color: grey;
    font-weight: 800;
    background-color: bisque;
    padding: .4em;
}
.play{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30,1fr)/repeat(30,1fr);
    position: relative;
    border: 2px solid black;
}
.play .snakefood{
    background-color: wheat;
    border-radius:50%;
    overflow: hidden;
}
.play .snakebody:nth-child(2){
    background-color: rgb(86, 201, 201);
}
.play .snakebody{
    background-color: wheat;
    border-radius: 1em;
}
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: wheat;
    position: relative;
    width: 100%;
    bottom: 0;
}
.controls img{
    padding: 3px 5px;
    text-align: center;
}
.controls img:hover{
    background-color: grey;
}
.uparrow,
.left-rightarrow,
.downarrow{
    width: 100%;
}
.uparrow{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.left-rightarrow{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.downarrow{
    display: flex;
    justify-content: center;
    align-items: first baseline;
}


@media (max-width:500px) {
    html,body{
        font-size: 13px;
    }
}
